body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #434455;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  align-items: center;
}
.nav-header {
  display: flex;
  align-items: center;
}
/* Header */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}
.header-logo .logo-part {
  color: #2e2f42;
}
.list-nav {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts {
  font-style: normal;
  margin-left: auto;
}
.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.contacts-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  display: block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
.nav-link.element {
  position: relative;
  color: #404bbf;
}
.nav-link.element::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
/* Tile */
.title {
  background: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1440px;
  margin: 0 auto;
}
.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-name {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin-bottom: 48px;
}
.title-btn {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.title-btn:hover,
.title-btn:focus {
  background-color: #404bbf;
}
/* Features */
.features {
  padding-top: 120px;
  padding-bottom: 120px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features-list {
  display: flex;
  gap: 24px;
}
.features-item {
  width: calc((100% - 72px) / 4);
}
.features-icon {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
}
.features-icon-svg {
  display: block;
  margin: 24px 100px;
}

.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  margin-top: 8px;
}
.features-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* Team */
.team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  padding-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-img {
  display: block;
}
.team-item {
  border-radius: 0 0 4px 4px;
  flex-basis: 264px;
}
.team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
.team-social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}
.team-icon {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon:hover,
.team-icon:focus {
  background-color: #404bbf;
}

.team-icon-svg {
  fill: #f4f4fd;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-member-card {
  text-align: center;
  padding: 32px 16px;
}
.team-item {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
/* Portfolio */
.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio-description {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.portfolio-container {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  color: #f4f4fd;
  padding: 40px 32px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list:hover .portfolio-overlay-text {
  transform: translateY(0);
}

.portfolio-list {
  flex-basis: 360px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-img {
  display: block;
}
.portfolio-card-content {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}
.portfolio-project-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* Footer */
.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
}
.footer-part {
  color: #f4f4fd;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
  margin-top: 16px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-social-container {
  margin-left: 120px;
}
.social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}
.social-list-footer {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 16px;
}
.social-icon-footer {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon-footer-svg {
  fill: #f4f4fd;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon-footer:hover,
.social-icon-footer:focus {
  background-color: #31d0aa;
}
/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  border-radius: 4px;
  width: 408px;
  min-height: 584px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  position: relative;
}

.modal-close {
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  background-color: #e7e9fc;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  line-height: 0;
  top: 24px;
  right: 24px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover {
  background-color: #404bbf;
}
.modal-close:hover .modal-close-icon {
  fill: #ffffff;
}
.modal-close-icon {
  fill: #2e2f42;
}

.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  padding: 72px 24px 16px 24px;
}
.modal-form {
  padding: 0 24px;
}
.modal-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
  pointer-events: none;
}
.modal-input:focus {
  border-color: #404bbf;
  outline: none;
}
.modal-input:focus + .modal-input-icon {
  fill: #404bbf;
}
.modal-input-icon-wrapper {
  position: relative;
}
.modal-input-wrapper {
  display: flex;
  flex-direction: column;
}

.modal-input-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-top: 8px;
  margin-bottom: 4px;
}
.modal-comment-wrapper {
}
.modal-text-area {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 8px 16px;
  resize: none;
}
.modal-text-area:focus {
  outline: none;
  border-color: #404bbf;
}

.modal-consent-label {
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 12px;
}

.modal-consent-label a {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
  margin-left: 2px;
}

.modal-consent-label span {
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.modal-consent-checkbox:checked + .modal-consent-label span {
  border: none;
  background-color: #404bbf;
  fill: #ffffff;
}

.modal-btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 24px;
}
.modal-submit-btn {
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-submit-btn:hover,
.modal-submit-btn:focus {
  background-color: #404bbf;
}
/* Footer Subscribe */
.footer-subscribe-container {
  margin-left: 80px;
}
.footer-subscribe {
  display: flex;
  gap: 24px;
}
.input-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.input-subscribe {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  background-color: transparent;
  color: #fff;
  padding: 8px 16px;
}
.input-btn-subscribe {
  border-radius: 4px;
  padding: 8px 16px 8px 24px;
  width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  border: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding-right: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-btn-subscribe:hover,
.input-btn-subscribe:focus {
  background-color: #404bbf;
}
.input-subscribe::placeholder {
  color: #fff;
}
.input-btn-icon {
  fill: #fff;
}
